# Because they're way too chunky. Will need to either compress or provide setup scripts
data/
*.simg
tests/gpu_variance/with_hash/outputs/*
*.npy
*.h5
*.sif
outputs/
logs/
*.png
*.svg

# Unnecessary
**/__pycache__/
*.ipynb_checkpoints
.idea/
.vscode
Backup/
corr_test/
correspondences/
data_storage/standalone
data_storage/*.csv
data_storage/data_backup/
data_storage/results/working_dir
data_storage/results/test_rep_storage/learn_exemp/*
data_storage/results/test_rep_storage/many_odd/*
data_storage/results/test_rep_storage/threeACF/*
data_storage/results/le_reps/
data_storage/results/moo_reps/
data_storage/results/3afc_reps/
hmIT_stimuli&RDMs/
hubReps/
logs/
modelnetVenv/
New_Models/
notebooks/
novset/
novset_lr/
offsite/
pretrained/
src/
stimuli/
test_images/
tests/
.DS_Store
Install Certificates.command
# Not your code
imported_code/
venv/

# Others
notebooks/masterSanbox.py
torch/
python_scripts/svcca
python_scripts/pretrained-models.pytorch
model_dir_test.py
notes.txt
