# Because they're way too chunky. Will need to either compress or provide setup scripts
data/
*.simg
tests/gpu_variance/with_hash/outputs/*
*.npy
*.h5
*.sif
outputs/
logs/
*.png
*.svg

# Unnecessary
**/__pycache__/
*.ipynb_checkpoints
.idea/
.vscode

# Not your code
imported_code/
venv/

# Others
notebooks/masterSanbox.py
